* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: gealova;
    line-height: 1.6;
    color: #333;
    background-color: #F5ECE3; /* Color perla */
}
nav {
    margin: 20px 0;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

header {
    background-image: url(fondo.png);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    font-size: 2rem;
}

section {
    margin: 2rem;
    padding: 1rem;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
}

.zoom {
    display: inline-block;
    overflow: hidden;
}

.imagen {
    transition: transform 0.3s ease-in-out;
    width: 800px; /* Tamaño normal */
}

.zoom:hover .imagen {
    transform: scale(1.2); /* Aumenta un 20% */
}
footer {
    background-color: #F5ECE3;
    padding: 20px;
    font-family: gealova;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    width: 23%;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}
